.menuContainer {
  max-width: 300px;
  position: sticky;
  top: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menuItem:first-child {
  margin-top: 20px;
}
.menuItem:last-child {
  margin-bottom: 20px;
}

.menuItem a {
  text-decoration: none;
}
.menuItemText {
  color: #000;
}

.smallLine {
  display: block;
  width: 160px;
  height: 2px;
  background-color: #000;
  margin-bottom: 5px;
}

.bigLine {
  display: block;
  width: 220px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #000;
}

.marginBottomSmallLine {
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.phoneLink {
  color: #000 !important;
  text-decoration: none;
  font-size: 32px;
}

.phoneLinkWhite {
  color: #fff !important;
  text-decoration: none;
  font-size: 32px;
}

.cityTitle {
  font-size: 24px;
}

.active::after {
  content: "";
  position: absolute;
}

.activeLink {
}

@media (max-width: 1000px) {
  .phoneLink {
    font-size: 20px;
  }
  .phoneLinkWhite {
    font-size: 20px;
  }
  .cityTitle {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-width: 700px) {
  .menu {
    gap: 20px;
  }

  .bigLine {
    width: 180px;
  }
  .smallLine {
    width: 120px;
  }

  .contacts {
    gap: 32px;
  }
}

@media (max-width: 500px) {
  .menu {
    gap: 15px;
  }

  .marginBottomSmallLine {
    margin-bottom: 22px;
  }
  .contacts {
    gap: 24px;
  }

  .menuContainer {
    visibility: hidden;
  }

  .smallLine {
    display: none;
  }
  .bigLine {
    display: none;
  }
}

.burgerMenu {
  width: 24px;
  height: 24px;
}

.visible {
  visibility: visible;
}
