.bg {
  /* height: 100vh; */
  margin-bottom: 5px;
  max-width: 1760px;
  height: 100%;
}

.bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/stub_assets/white.jpg);
  filter: brightness(1.1) contrast(0.7);
}

.bg-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/stub_assets/gray.webp);
  filter: contrast(0.7);
}

.bg-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/stub_assets/white.jpg);
  filter: contrast(0.75);
}

.bg-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/stub_assets/gray.webp);
  filter: contrast(0.6) brightness(1.2);
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.logo {
  width: 330px;
  height: 100px;
  background-image: url(../../assets/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuHeaderContainer {
  height: fit-content;
}

.rightSideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.swiperItem {
  height: 100vh !important;
}

.swiper-pagination {
  min-height: 100px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.quoteText {
  font-size: 36px;
}

.MainSwiperContainer {
  margin-bottom: 10px;
}

.swiperContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.top {
  height: 60%;
}
.bottom {
  height: 40%;
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  height: 100%;
  align-items: center;
}

.topContainer {
  margin-top: 40px;
}

.swiper {
  --swiper-pagination-bullet-size: 32px;
  --swiper-pagination-color: #a6a6a6;
  --swiper-pagination-bullet-inactive-color: #ffff;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.mainTextContainer {
  text-align: -webkit-right;
  /* margin-right: 80px; */
  color: #000;
}

.mainTextContainer .quoteText {
  font-weight: 800;
}

.mainText {
  font-size: 40px;
  text-align: end;
  max-width: 814px;
  min-height: 76px;
}

@media (max-width: 1000px) {
  .bg {
    width: 100vw;
    height: 100vh;
  }
  .mainText {
    font-size: 32px;
    max-width: 365px;
    min-height: 40px;
  }
  .mainTextContainer {
  }
  .swiper-pagination {
    /* min-height: 50px; */
    gap: 10px;
  }
  .menuHeaderContainer {
    /* padding-top: 120px; */
  }
}

@media (max-width: 700px) {
  .logo {
    background-image: url(../../assets/logoSmall.svg);
    width: 210px;
    height: 62px;
  }

  .menuHeaderContainer {
    max-width: 200px;
    padding-left: 20px;
    /* padding-top: 90px; */
  }
  .mainTextContainer {
  }

  .swiper {
    --swiper-pagination-bullet-size: 24px;
  }
}

@media (max-width: 500px) {
  .logo {
    background-image: url(../../assets/logoSmall.svg);
    width: 150px;
    height: 45px;
  }
  .swiper {
    --swiper-pagination-bullet-size: 16px;
  }

  .headerContainer {
    justify-content: center;
  }

  .quoteText {
    font-size: 30px;
  }

  .mainTextContainer {
  }
  .mainText {
    font-size: 16px;
    color: #fff !important;
  }

  .quoteText {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 110px;
    height: 33px;
  }

  .mainTextContainer {
  }

  .mainText {
    font-size: 12px;
  }

  .quoteText {
    font-size: 22px;
  }
}
