.bg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}

.main5 {
  background-image: url("../../assets/stub_assets/white.jpg");
  position: relative;
}
.main5Background {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(1.1) contrast(0.8);
}

.main6 {
  position: relative;
  background-image: url("../../assets/stub_assets/white.jpg");
}

.main6Background {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(0.9) contrast(0.7);
}

.main7 {
  position: relative;
  background-image: url("../../assets/stub_assets/white.jpg");
  position: relative;
}

.main7Background {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(1.1) contrast(0.8);
}

.inheritanceTrigger {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.main8 {
  position: relative;
  background-image: url("../../assets/stub_assets/white.jpg");
}
.main8Background {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(2.1) contrast(0.7);
}

.main9 {
  position: relative;
  background-image: url("../../assets/stub_assets/white.jpg");
}

.main9Background {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(1.1) contrast(0.7);
}

.main10 {
  background-image: url("../../assets/stub_assets/white.jpg");
  position: relative;
  max-height: 420px;
}

.main10Background {
  backdrop-filter: blur(3px) brightness(0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.arbitration {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.mainTitle {
  font-size: 36px;
  color: #fff;
}

.mainTitleIntel {
  font-size: 36px;
  color: #fff;
}

.linkButton {
  border-radius: 30px;
  width: 240px;
  height: 55px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  margin-bottom: 30px;
  font-size: 20px;
  z-index: 3;
}

.telegramLogoContainer {
  position: fixed;

  z-index: 999;
  bottom: 160px;
  left: 80px;
}

.telegramLogo {
  border-radius: 50%;
}

.linkButtonIntel {
  border: 3px solid #000;
}

.inheritanceContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.linkButtonIntel a {
  color: #000;
}

.inheritanceRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.intellectualRight {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.intellectualRightLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
}

.intellectualRightRight {
  display: flex;
  height: 100%;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  z-index: 999;
}

.linkButton {
}

.intellectualRightRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intellectualRightList {
  align-items: flex-start;
}

.criminalLaw {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.bankruptcy {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.criminalLawContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.bankruptcyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.inheritance {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.inheritanceList {
  align-items: flex-start;
}

.listItem {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  min-height: 40px;
  z-index: 3;
}

.listItem:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}

.listItem::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #1f1f1f;
  height: 3px;
  bottom: -2px;
  transition: all 0.3s;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  z-index: 999;
}

.whiteColor {
  color: #fff;
}

.whiteColor button {
  border: 3px solid #fff;
}

.whiteColor a {
  color: #fff;
}

.logoWhite {
  background-image: url(../../assets/logoWhite.svg) !important;
}

.mainContainer {
  position: relative;
}

.many {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  position: relative;
}

.manyText {
  z-index: 3;
}

.linksBeforeFooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksBeforeFooterList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 150px;
}

.linksBeforeFooterLink {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 32px;
}

.footer {
  background-color: #222222;
}

.footerContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 190px;
  max-width: 1728px;
  padding: 55px 70px;
  margin: 0 auto;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
.footerLeft,
.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-align: center;
  gap: 15px;
  min-width: 250px;
}

.footerMail {
  text-decoration: none;
  color: white;
}

.footerTitle {
  font-size: 28px;
}

.footerText {
  font-size: 28px;
}

.telLink {
  font-size: 28px;
}

.footerCity {
  font-size: 28px;
}

.emailLink {
  text-transform: none;
}

.rootDiv {
  max-width: 1760px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.rootDiv a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .footerContainer {
    padding: 45px 60px;
  }
  .link,
  .telLink,
  .footerCity {
    font-size: 24px;
  }
  .main10 {
    max-height: 320px;
  }
}

@media (max-width: 1000px) {
  .link,
  .telLink,
  .footerCity {
    font-size: 22px;
  }
  .list {
    gap: 16px;
  }
  .listItem {
    font-size: 16px;
  }

  .mainTitleIntel {
    font-size: 30px;
  }
  .mainTitle {
    font-size: 30px;
  }
  .linkButton {
    width: 200px;
    height: 45px;
  }
  .linksBeforeFooterLink {
    font-size: 24px;
  }
  .linksBeforeFooterList {
    gap: 24px;
    min-height: 120px;
  }
  .footerLeft,
  .footerRight {
    min-width: 180px;
  }

  .footerTitle {
    font-size: 22px;
  }

  .footerText {
    font-size: 22px;
  }

  .footerContainer {
    padding: 40px 55px;
  }
}

@media (max-width: 800px) {
  .link,
  .telLink,
  .footerCity {
    font-size: 20px;
  }
  .list {
    gap: 8px;
  }
  .listItem {
    font-size: 10px;
    font-weight: 700;
  }

  .mainTitleIntel {
    font-size: 22px;
  }
  .mainTitle {
    font-size: 22px;
  }
  .linkButton {
    width: 180px;
    height: 40px;
  }
  .linksBeforeFooterList {
    gap: 16px;
    min-height: 80px;
  }
  .main10 {
    max-height: 250px;
  }
}

@media (max-width: 749px) {
  .telegramLogoContainer {
    left: 0;
  }
}

@media (max-width: 700px) {
  .linksBeforeFooterLink {
    font-size: 16px;
  }
  .linksBeforeFooterList {
    gap: 15px;
    min-height: 50px;
  }

  .footerLeft,
  .footerRight {
    min-width: 150px;
  }

  .footerTitle {
    font-size: 16px;
  }

  .footerText {
    font-size: 16px;
  }
  .telLink,
  .footerCity {
    font-size: 16px;
  }
  .footerContainer {
    padding: 37.5px 52.5px;
  }

  .linkButton {
    border: 1px solid #fff;
  }
  .whiteColor button {
    border: 1px solid #fff;
  }
}

@media (max-width: 600px) {
  .intellectualRightRight {
    width: 40%;
  }
  .linkButton {
    width: 120px;
    height: 25px;
  }
  .mainTitleIntel {
    font-size: 16px;
  }

  .link {
    font-size: 12px;
  }

  .linksBeforeFooterLink {
    font-size: 12px;
  }
  .footerLeft,
  .footerRight {
    min-width: 120px;
  }

  .footerTitle {
    font-size: 10px;
  }

  .footerText {
    font-size: 10px;
  }
  .telLink,
  .footerCity {
    font-size: 10px;
  }
  .footerContainer {
    padding: 24.5px 10px;
  }
  .main10 {
    max-height: 200px;
  }
}

@media (max-width: 500px) {
  .intellectualRightRight {
  }
  .linkButton {
    width: 90px;
  }

  .mainTitleIntel {
    font-size: 12px;
  }

  .manyText {
    font-size: 16px;
  }

  .footerLeft,
  .footerRight {
    min-width: 70px;
  }
}

@media (max-width: 400px) {
  .listItem {
    font-size: 8px;
  }
  .manyText {
    font-size: 12px;
  }

  .linksBeforeFooterLink {
    font-size: 8px;
  }
}
