.selectedRedText {
  color: red;
  text-decoration: none;
}

.selectedTriangleText {
  border-radius: 30px;
  border: 1px solid #000;
  margin: 20px 0;
  padding: 10px;
}

.bold {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.63px;
  letter-spacing: 0.05em;
  text-align: justify;
}

.mainTextContainer > p {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 35.63px;
  letter-spacing: 0.05em;
  text-align: justify;
  word-break: auto-phrase;
}

.containerMainInfo h3 {
  display: inline;
}

@media (max-width: 1100px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 18px;
  }
}
