* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  --color-primary: red;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", serif;
}

ul,
li {
  list-style: none;
}
