.main10 {
  /* background-image: url("../../../../assets/bg-10.png"); */
  background-color: #222222;
  max-height: 420px;
  max-width: 1760px;
  margin: 0 auto;
}

.bg {
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  background-color: #878787;
}

.many {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.manyText {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 600;
  line-height: 71.25px;
  letter-spacing: 0.1em;
  text-align: left;
}

.many button {
  border: 3px solid #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 600;
  line-height: 50.25px;
  letter-spacing: 0.1em;
  text-align: left;
  background-color: transparent;
  color: #fff;
  border-radius: 30px;
  padding: 0 15px;
  cursor: pointer;
}

.whiteColor {
  color: #fff;
}

.whiteColor button {
  border: 3px solid #fff;
}

.whiteColor a {
  color: #fff;
}

.mainTitleIntel {
  font-size: 36px;
  color: #fff;
}

@media (max-width: 1000px) {
  .mainTitleIntel {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .mainTitleIntel {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .whiteColor button {
    border: 1px solid #fff;
  }
}

@media (max-width: 600px) {
  .mainTitleIntel {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .mainTitleIntel {
    font-size: 12px;
  }

  .manyText {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .manyText {
    font-size: 12px;
  }
}
