.none {
  display: none;
}

.modalMene {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 726px;
  min-height: 283px;
  padding: 70px;
  background-color: #fff;
}

.nameInput,
.phoneInput > input {
  background-color: #d9d9d9;
  border-radius: 30px;
  min-width: 730px;
  min-height: 55px;
  
}

.orderText,
.callWe,
.phoneBlock {
  text-align: center;
}

.phoneInput > .PhoneInputCountrySelect {
  display: none;
}

.container {
  max-width: 1240px;
}
