.contentContainer {
  color: #000;
  text-align: justify;
  flex-grow: 1;
}

.contentContainer p {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.06em;
}

.contentContainer li {
  list-style: decimal;
}

.contentContainer h2 {
  margin-bottom: 15px;
}

.textBlock {
  margin-bottom: 10px;
}

.mainTitle {
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .contentContainer p {
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 1100px) {
  .contentContainer p {
    font-size: 12px;
  }
}
